body {
  background-image:
    linear-gradient(to bottom, rgba(115,86,255,.50),rgba(134,146,255,.0),rgba(153,204,255,.0)),
    url('../public/image/mems-clouds.png');
  background-size: 100% 100% , cover;
  background-position: bottom;
  background-repeat: no-repeat;

  overflow: hidden;
  height: 100vh;
}

.lazyDog {
  font-family: "Lazydog";
}
.dm {
  font-family: "DMSans-Regular";
}

.main_div {
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.stars{
  position: absolute;
  top: 5%;
  height: 20vh;
}

.div_second {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 80vh;
  width: 100vw;
}

.div_second_text1_para {
  font-size:14rem;
  color: #ffffff;
  text-align: center;
  margin: 0;
}
.div_second_text3 {
  position: relative;
  bottom: 5rem;
  text-align: center;
  background-color: #7459ff;
  border-radius: 50px;
  font-size: 1.90rem;
  color: #fff;
  /* font-weight: bold; */
  letter-spacing: 2px;
  opacity: 1;
  padding: 9px 60px 16px 60px ;
  cursor: pointer;
  /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19); */
}

.div_second_text3:hover{
  background-color: #5334ec;
  transform: translateY(-0.10em);
  transition-duration: 100ms;
;
}

.div_second_text2_para {
  position: relative;
  bottom: 3rem;
  color: #ffffff;
  font-size: 2rem;
  /* opacity: 65%; */
  z-index: 3;
  text-align: center;
}

.div_images {
  position: absolute;
  bottom: -22rem;
}

.the_image {
  /* border: 1px solid red; */
  width: 37vw;
  position:absolute;
  right: -8rem;
  bottom: -16rem;
}

.social_div {
  position: absolute;
  bottom: 3rem;
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
.social_logo{
  height: 25px;
  cursor: pointer;
}
.social_logo:hover {
  transform: translateY(-0.10em);
  transition-duration: 100ms;
}


/* 4k display */
@media (min-width: 2560px) {
  .the_image {
    right: -12rem;
    bottom: -19rem;
  }
}


/* laptop low res */

@media (min-width: 1235px) and (max-width: 1367px) {
  body {
    /* background-size: contain; */
  }
  .the_image {
    right: -6rem;
    bottom: -12rem;
  }
  .div_images {
    bottom: -15rem;
    right: 22rem;
  }
  .div_second{
    transform: scale(0.7);
  }
}

/* tab */
@media (min-width: 641px) and (max-width: 1234px) {
  body {
    background-size: cover;
  }
  .image_div {
    overflow-x: hidden;
    /* border: 1px solid #fff; */
    position: absolute;
    right: 0;
    bottom:8rem;
  }
  .the_image {
    position: relative;
    width: 45vw;
    right: -6rem;
    bottom: auto;
  }
  .div_images {
    bottom: -10rem;
    right: 10rem;
    width: 100%;
  }
  .div_second{
    transform: scale(0.7);
  }
}


/* mobile */

@media (max-width: 640px) { 
  body {
    background-image:
    linear-gradient(to bottom, rgba(115,86,255,.70),rgba(153,204,255,.0),rgba(153,204,255,.0),rgba(153,204,255,0)),
    url('../public/image/mems-clouds-mobile.png');
  background-position: top;
  background-repeat: no-repeat;
  }

  .main_div {
    height: 100%;
    position: static;
  }

  .stars{
    display: none;
  }
  
  .div_second {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    height: 55vh;
    width: 100vw;
  }
  
  .div_second_text1_para {
    position: relative;
    top: 4rem;
    font-size: 7rem;
    color: #ffffff;
    text-align: center;
    margin: 0;
  }
  .div_second_text3 {
    bottom: 3rem;
    text-align: center;
    border-radius: 50px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    opacity: 1;
    padding: 5px 20px 5px 20px ;
    cursor: pointer;
  }
  
  .div_second_text2_para {
    bottom: auto;
    color: #ffffff;
    font-size: 26px;
    padding: 37px;
    font-weight: 400;
    /* opacity: 65%; */
    text-align: center;
  }
  .image_div {
    overflow-x: hidden;
    /* border: 1px solid #fff; */
    position: absolute;
    right: 0;
    bottom:8rem;
  }
  .the_image {
    position: relative;
    width: 73vw;
    right: -3.5rem;
    bottom: auto;
  }

  .div_images {
    width: 100vw;
    bottom: 0rem;
    position: absolute;
    overflow: hidden;
  }
.social_logo{
  height: 20px;
}
.social_div {
  position: absolute;
  bottom: 3rem;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
 }
